# Database
db.sqlite3
db.sqlite3-journal

# Environment Variables
.env
.env.local
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# User Uploads
media/
uploads/
backups/
tmp_restore/

# IDE & Editor Settings
.vscode/
.idea/
*.swp
*.swo

# OS Data
.DS_Store
Thumbs.db
